.brand-logo {
	max-width: 20em;
	max-height: 22vh;
	float: left;
}

.clear {
	clear : left;
}

.header {
	min-height: 25vh;
}

.right-header {
	margin-top: 15px;
	margin-left: 3em;
	float: left;
}

.left {
	width: 15em;
	float: left;
}

.right {
	margin-left: 18em;
}