.left-button {
	float: left;
}

.center {
    width:80%;
    margin-left: 10%;
}

.right-button {
	float: right;
}

.rotate {
	transform: rotate(180deg);
}

.button {
	width: 10vmax;
	height: 10vmax;
	max-height: 80px;
	max-width: 80px;
	margin-top: 40vh;
}