.left-button {
	float: left;
}

.center {
    width:74vmax;
    margin-left: 13vmax;
}

.right-button {
     right: 0; 

}

.button {
	margin-top: 40vh;
	position: fixed;
}

.icon-large {
  	font-size: 6vmax;
}